# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

media/photos/2014/07/26/freddiecrazy.jpg
media/thumbnails/2014/07/26/flashwp2.jpg
db.sqlite3
db.sqlite3
media/thumbnails/2014/07/27/freddiecrazy.jpg
media/thumbnails/2014/07/27/highlander02.jpg
media/thumbnails/2014/07/27/queen_wallpapers2054.jpg
media/thumbnails/2014/07/28/freddiemercury70.jpg
media/thumbnails/2014/07/28/queen_wallpapers206.jpg
db.sqlite3
articles/models/__pycache__/front_page_article.cpython-34.pyc
articles/models/__pycache__/__init__.cpython-34.pyc
articles/models/__pycache__/__init__.cpython-34.pyc
articles/models/__pycache__/__init__.cpython-34.pyc
db.sqlite3
*.sqlite3
media/photos/2014/07/29/Barcelona2.jpg
media/photos/2014/07/30/highlander02.jpg
media/thumbnails/2014/07/29/queen_wallpapers2039.jpg
media/thumbnails/2014/07/30/mrbadguy.jpg
*.sqlite3
media/photos/2014/08/03/20140729_174912_resized.jpg
media/photos/2014/08/03/queen_wallpapers2039.jpg
media/photos/2014/08/03/queen_wallpapers2055.jpg
media/photos/2014/08/03/queen_wallpapers2063.jpg
media/thumbnails/2014/08/03/queen_wallpapers2039.jpg
db.sqlite3