html {
	font-size: 12px;
}

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: lighter;
    font-family: 'Roboto Condensed',Arial,sans-serif;
    color: white;
    background: black;
    min-width: 320px;
    border: 0;
}

/* LINKS */

a:link, a:visited {
    color: violet;
    text-decoration: none;
}

a:hover {
    color: blue;
}

a img {
    border: none;
}

a.section:link, a.section:visited {
    color: white;
    text-decoration: none;
}

.quiet_link {
	color: white;
}

/* GLOBAL DEFAULTS */

p, ol, ul, dl {
    margin: .2em 0 .8em 0;
}

p {
    padding: 0;
    line-height: 140%;
}


h1 {
    font-size: 300%;
    padding: 0 6px 0 0;
    margin: 0 0 .2em 0;
}

h2 {
    font-size: 200%;
    margin: 1em 0 .5em 0;
}


h3 {
    font-size: 130%;
    margin: 0 0 .3em 0;
    font-weight: bold;
}

h4 {
    font-size: 120%;
    margin: 1em 0 .8em 0;
    padding-bottom: 3px;
}

h5 {
    font-size: 110%;
    margin: 1.5em 0 .5em 0;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
}


dt {
    font-weight: bold;
    margin-top: 4px;
}

dd {
    margin-left: 0;
}

form {
    margin: 0;
    padding: 0;
}

fieldset {
    margin: 0;
    padding: 0;
}

blockquote {
    font-size: 90%;
    color: #777;
    margin-left: 2px;
    padding-left: 10px;
    border-left: 5px solid #ddd;
}

code, pre {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    background: inherit;
    color: #666;
    font-size: 90%;
}


code strong {
    color: #930;
}

hr {
    clear: both;
    color: #eee;
    background-color: #eee;
    height: 1px;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 20%;
    line-height: 1px;
}


p img, h1 img, h2 img, h3 img, h4 img, td img {
    vertical-align: middle;
}

.quiet, a.quiet:link, a.quiet:visited {
    color: #333;
    font-weight: normal;
}

.quiet strong {
    font-weight: bold;
}



/* PAGE STRUCTURE */

.container {
    position: relative;
    width: 100%;
    padding: 0;
}

.content {
    margin-top: 10px;
    overflow: hidden;
}

.footer {
    clear: both;
    padding: 10px;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size:80%;
}



/* HEADER */

.header {
    background: white;
    color: black;
    overflow: hidden;
    border: 0;
}


.header a:link, .header a:visited {
    color: black;
}


.logo {
  float: left;
  padding-top: 5px;
}

#menu {
	float:left;
	padding-top: 25px;
    font-family: 'Roboto Condensed', sans-serif;
	font-size: 140%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-transform: uppercase;
	height: auto;
}

#menu ul {
    height: auto;
    padding: 8px 0;
    margin: 0;
}

#menu li { 
	display: inline; 
	margin-left: 10px; 
}

#menu a {
	color: black;
}

.social {
	float:right;
	padding-top: 25px;
    font-family: 'Roboto Condensed', sans-serif;
	font-size: 80%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: auto;
	color:black;
}

.social ul {
    height: auto;
    margin: 0;
    padding-left: 0;
}

.social li { 
	display: inline; 
	margin-right: 5px; 
}
.social img {
	height: 20px;
	width: 20px;
}

.header_search {
	float: right;
	padding-top: 16px;
	margin-right: 7px;
}

.header_search_form {
	margin-top: 8px;
	margin-bottom: 8px;
	background: #ccc;
	padding: 0 10px;
	border: 0;
	border-radius: 15px;
}
.header_search_fieldset {
	border: 0;
}

.header_search_box {
	height: 20px;
	border: 0;
	background: #ccc;
	outline: none;
	width: 97px;
}

.header_search_button {
	height: 12px;
	width: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
	background: url(../images/icon-search.png) no-repeat;
	background-size: contain;
	color: transparent;	
	border: 0;
}

.sub_category_title {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 140%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	color: red;
	height: auto;
	text-transform: uppercase;
	margin-left: 1.5%;
}

.submenu {	
	padding-top: 5px;
    font-family: 'Roboto Condensed', sans-serif;
	font-size: 130%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: auto;
	text-transform: uppercase;
	overflow: hidden;
	margin-left: 1.5%;
}

.submenu ul {
	float:left;
    height: auto;
    padding: 8px 0;
    margin: 0;
}

.submenu li { 
	float:left;
	display: inline; 
	margin-right: 10px; 
}

.submenu a:link, .submenu a:visited {
    color: white;
}



.index_image_container {
   	width: 22.5%;
   	margin: 0;
}


.image_index {
	padding: 0;
}

.article_list{
	overflow: hidden;
	margin: 0;
	padding: 0;	
}

.article_list ul{
	margin: 0 0 0 1.5%;
	list-style-type: none;
    position:  relative;
    float:left;
    width: 100%;
    padding-left: 0;
}

.article_list li { 
	float:left;	 
	margin-top: 1.5%; 
	margin-right: 1.5%; 
	width: 31.3%;
}

.category_image {
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center center;
	position:  relative;
}

.image_overlay_tag { 
	left: 0; 
	bottom: 0;
	position:  absolute;
	background-color: #ffffff;
	background-color: rgba(255, 255, 255, .7);
	width: 98.5%;
	height: 22%;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 120%;
	color: black;
	padding-top: 1.5%;
	padding-left: 1.5%;
}
a:link, a:visited, a:hover {
    color: white;
    text-decoration: none;
}

.index_page_left {
	width:60%; 
	float:left;
	margin-left:1.5%;
}
.index_page_right {
	width:35%; 
	float:right;
	margin-left:1.5%;
	margin-right:1.5%;
	text-align: center;
}

#index_calendar_link a{
	color: white;
    text-decoration: none;
}
#index_calendar_link div{
    text-decoration: none;
    font-size:200%;  
    padding-left:5%;
    padding-right:5%;
}

#index_month {
	color: white;
	background-color: #504A4B;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#index_day {
	background-color: white;
	color: black;
}

#index_day_of_week {
	background-color: white;
	color: black;
	font-size: 50%;
}

#index_year {
	background-color: #504A4B;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	color: white;
}

/* JSSOR Slider */


#slideshow {
	position: relative; 
	width: 640px;
    height: 360px; 
    overflow: hidden;
}

#sliderb_loading_container {
	position: absolute; 
	top: 0; 
	left: 0;
}

#slideshow_loading_background {
	filter: alpha(opacity=70); 
	opacity:0.7; 
	position: absolute; 
	display: block;
	background-color: #000; 
	top: 0; 
	left: 0;
	width: 100%;
	height:100%;
}

#slideshow_loading_image {
	position: absolute; 
	display: block; 
	background: url(../images/loading.gif) no-repeat center center;
	top: 0; 
	left: 0;
	width: 100%;
	height:100%;	
}

#slides {
	cursor: move; 
	position: absolute; 
	left: 0; 
	top: 0; 
	width: 640px; 
	height: 360px;
    overflow: hidden;
}

/*
.jssorb01 div           (normal)
.jssorb01 div:hover     (normal mouseover)
.jssorb01 .av           (active)
.jssorb01 .av:hover     (active mouseover)
.jssorb01 .dn           (mousedown)
*/
.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
    filter: alpha(opacity=70);
    opacity: .7;
    overflow:hidden;
    cursor: pointer;
    border: #000 1px solid;
}

.jssorb01 div { 
	background-color: gray; 
}
.jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
.jssorb01 .av { background-color: #fff; }
.jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }

 /* jssor slider arrow navigator skin 05 css */
/*
.jssora05l              (normal)
.jssora05r              (normal)
.jssora05l:hover        (normal mouseover)
.jssora05r:hover        (normal mouseover)
.jssora05ldn            (mousedown)
.jssora05rdn            (mousedown)
*/
.jssora05l, .jssora05r, .jssora05ldn, .jssora05rdn {
	position: absolute;
	cursor: pointer;
	display: block;
    background: url(../images/a17.png) no-repeat;
    overflow:hidden;
}
.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05ldn { background-position: -250px -40px; }
.jssora05rdn { background-position: -310px -40px; }


.caption_container {
	 position: absolute; 
	 top: 310px; 
	 left: 0; 
	 width: 640px; 
	 height: 50px;
}

.caption_box {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 640px; 
	height: 50px;
	background-color: Black; 
	opacity: 0.5; 
	filter: alpha(opacity=50);
}

.caption_text {
	position: absolute; 
	top: 1px; 
	left: 2px; 
	width: 640px; 
	height: 50px;
    color: White; 
    font-size: 140%; 

    line-height: 30px; 
    text-align: left;
}

/* Article layout */
.article_date_author {
	width: 100%;
	margin-left: 80px;
}

.article_header {
	margin-left: 80px;
	width: 100%;
	float: left;
}

.social_container {
	width: 80px;  
	float: left;
	text-align: center;
}

.fb-like {
	margin-bottom: 10px;
	width: 100%;
}

.twitter-share-button {
	margin-bottom: 10px;
	width: 100%;
}



.slideshow_articlewidthconstrain {
	max-width: 720px;
}

.article_container {
	margin-left: 80px;
	padding-right: 1.5%;
}

.article_blocktext {
    margin-left: 0;
    margin-right: auto;
    max-width: 90em;
}

/*Enable responsive youtube embeds  */
.video-container {
	margin-left: 0;
    margin-right: auto;
    max-width: 90em;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; 
    overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 720px;
    height: 100%;
}

.search_result_list {
	margin-left: 1.5%;
	margin-right: 1.5%;
	overflow: hidden;
}

.search_result_list ul {
	padding-left: 0;
}

.search_result{
	width: 100%;
	overflow: hidden;
	margin-top: 3%;
}



.search_result_image {
	width: 15%;
	min-width: 70px;
	max-width: 200px;
	height: auto;
	margin-right: 1.5%;
}



@media only screen and (max-width: 700px) {
	/* Changes to layout for mobile browsers */
	.article_list li { 
		float:left;
		margin-right: 1.5%; 
		margin-top: 3%; 
		width: 97%;
	}
	
	/* Reduce font size on headings */
	#menu {
		padding-top: 12px;
	    font-family: 'Roboto Condensed', sans-serif;
		font-size: 130%;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		text-transform: uppercase;
		height: auto;
		float: none;
	}
	
	#menu ul {
		padding-top: 4px;
		padding-bottom: 0;
	}
	
	.header_search {
		padding-top: 0;
		margin-top: 0;
		margin-left:79px;
		float: None;
		width: 160px;
	}
	.header_search_box {
		width: 116px;
	}
	
	/* Get rid of social buttons... for now */
	.social {
		width: 0;
		height: 0;
	}

	/* Index layout without split */
	.index_page_left {
		width:100%; 
	}
	
	.index_page_right {
		width:100%; 
		float: left;		
		margin-right: 1.5%;
	}
	
	.article_header {
		margin-left: 1.5%;
		width: 100%;
		float: left;
		font-size: 200%;
	}
	
	.social_container {
		width: 0;  
		float: left;
		display: none;
	}
	
	.article_container {
		margin-left: 1.5%;
		padding-right: 1.5%;
	}
	.article_date_author {
		margin-left: 1.5%;
		width: 100%;
		float: left;
	}
	
}
