{% extends "base_site.html" %}

{% block extra_document_ready %}

{% endblock %}

{% block extrascript %}
<script>$.endlessPaginate({paginateOnScroll: true});</script>
<script>
	function resize_images() {
	   // This function is to resize image height as 40% of the width
	   var div = $(".category_image");
	   var totalWidth = div.width();
	   var ratio = parseInt((totalWidth) * 0.56); //16:9 ratio
	   
	   var fontSize = totalWidth * 0.35;
	   
	   // Set the height in css
	   $(div).css({
	        height: ratio
	   });   
   
	};

	
	//Execute when page is loaded
    $(document).ready(function () {                
       	resize_images()
       	
       	$(window).bind("orientationchange", resize_images);
       	$(window).bind('resize', resize_images);
    });
	
</script>
{% endblock %}
{% block subheader %}
	<div class="sub_category_title">{{sub_category_name}}</div>

   	<div class="submenu">
		<ul>
			{%for sub_category in sub_categories %}
	         	<li><a href="/{{category_name}}/{{sub_category.name}}/">{{sub_category.name}}</a></li>
	         	<li>/</li>
	        {% endfor %}
		</ul>
    </div>


{% endblock %}


{% block content %}
<div class="article_list">
	<ul>
	{% include page_template %}
	</ul>
</div>	
{% endblock %}
