{% load staticfiles %}{% load url from future %}<!DOCTYPE html>

<html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
	<title>{% block title %}{% endblock %}</title>
	
	<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "css/base.css" %}{% endblock %}" />
	{% block extrastyle %}{% endblock %}
	
	<script type="text/javascript">
	
	</script>
	{% block extrahead %}{% endblock %}
	
	<script type="text/javascript">{% block extrascript %}{% endblock %}</script>
	
	{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
	
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

<!-- Container -->
<div id="container">

    <!-- Header -->
    <div id="header">
    	<div id="logo">
    		<a href = "/"><img src="{% static "images/logo.png" %}"/></a>
    	</div>
        <div id="menu">
			<ul>
				<li><a href="/whatson">WHATS ON</a></li>
				<li><a href="/music">MUSIC</a></li>
				<li><a href="/film">FILM</a></li>
				<li><a href="/people">PEOPLE</a></li>
			</ul>
        </div>
    </div>
    <!-- END Header -->
   
    <!-- Content -->
    <div id="content">
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}
    <div id="footer">
     	Created By Justin Hui @ <a href="http://techluminaire.co.uk">Tech Luminaire</a>
    </div>
    {% endblock %}
</div>
<!-- END Container -->

</body>
</html>
