{% load staticfiles %}{% load url from future %}<!DOCTYPE html>
{% load cache %}

<html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
	<title>{% block title %}{% endblock %}</title>
	
	<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "css/base.css" %}{% endblock %}" />
	{% block extrastyle %}{% endblock %}
	
	<!--<script src="{% static "js/jquery-2.1.1.min.js" %}"></script> Work offline-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="{% static "js/jssor.slider.min.js" %}"></script>

	{% block extrahead %}{% endblock %}
	
	{% block extrascript %}{% endblock %}
	
	{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
	
</head>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

<!-- Container -->
<div id="container">

	{# cache 300 header #}
    <!-- Header -->
    <div id="header">
    	<div id="logo">
    		<a href = "/"><img src="{% static "images/logo.png" %}"/></a>
    	</div>
    	<div>
	        <div id="menu">
				<ul>
					{%for category in categories %}
			         	<li><a href="/{{category.name}}/">{{category.name}}</a></li>
			        {% endfor %}
				</ul>
	        </div>
	        <div id="social">
	        	<ul>
					<li>
						<a href="https://twitter.com/ThisTown1">
							<img src="{% static "images/twitter.png" %}"/>
						</a>
					</li>
					<li>
						<a href="https://www.facebook.com/pages/This-Town/548581228598220?ref=hl">
							<img src="{% static "images/facebook.png" %}"/>
						</a>
					</li>
					<li>
						<a href="http://instagram.com/this_town">
							<img src="{% static "images/instagram.png" %}"/>
						</a>
					</li>			
				</ul>
	        </div>
	        <section id="header_search">
	    		<form id="header_search_form" name="search" action="/search" method="GET">
	    			<fieldset id="header_search_fieldset">
						<input id="header_search_box" type="text" placeholder="SEARCH" autocomplete="off" name="search_text"></input>
						<button id="header_search_button" type="submit">Submit</button>
					</fieldset>
				</form>
			</section>
		</div> 
    </div>
    <!-- END Header -->
   {# endcache #}
   
    <!-- Content -->
    <div id="content">
		{% block subheader %}{% endblock %}
		{% block content %}{% endblock %}
    </div>
    <!-- END Content -->

    {% block footer %}
    <div id="footer">
     	Website created By Justin @ <a href="http://www.techluminaire.co.uk">Tech Luminaire</a>
    </div>
    {% endblock %}
</div>
<!-- END Container -->

</body>
</html>
